PYTHON_VERSION=${PYTHON_VERSION:-3.6.15}
mkdir -p .cache .env_cache
if ! [ -w .direnv ]; then
  sudo chown -R $(id -u).$(id -g) .direnv
fi

major=$(echo ${PYTHON_VERSION} | cut -d. -f1)
minor=$(echo ${PYTHON_VERSION} | cut -d. -f2)
export PYTHON_SIMPLE_VERSION=${major}.${minor}

export WORKON_HOME=~/.virtualenvs

mkdir -p ${WORKON_HOME}

pyenv install --skip-existing ${PYTHON_VERSION}
for version in 3.6.15 3.7.12 3.8.12 3.9.9 3.10.1; do
  pyenv install --skip-existing ${version}
done

pyenv local 3.6.15 3.7.12 3.8.12 3.9.9 3.10.1

layout pyenv ${PYTHON_VERSION}
use pip-tools requirements/dev.in

pre-commit install --hook-type pre-commit --hook-type pre-push
